<configuration>
    <!-- Copied from https://github.com/tony19/logback-android/wiki -->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>/sdcard/locus-tracking/locations.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="file" />
    </root>
</configuration>
